@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Meitnerstr. 10<br />
    70563 Stuttgart<br />
    <abbr title="Phone">+49 (711) 686 881-140</abbr>
</address>

<address>
    <strong>Twitter:</strong> @@toto_san1<br />
    <strong>web:</strong> <a href="http://www.tomow.de/">tomow.de</a>
</address>
